<template>
<div class="page">
    <div class="page-content">
        <navbar></navbar>

        <transition name="fade" mode="out-in">
            <router-view class="view" keep-alive></router-view>
        </transition>

        <div class="footer">
            <div class="copyright">
                <div class="container">
                    &copy; Made with <i class="fa fa-heart"></i> by <a href="https://www.facebook.com/Vuejs-Vietnam-1744651725846108/?ref=bookmarks" target="_blank">Vue.js Vietnam</a>. Theme by <a href="https://goo.gl/2DuL6c" target="_blank">Remark</a>.

                </div>
            </div>
        </div>

        <nprogress-container></nprogress-container>
    </div>

</div>
</template>

<script>
import Navbar from './views/navbar.vue'
import NprogressContainer from 'vue-nprogress/src/NprogressContainer.vue';
export default {
    components: {
        navbar: Navbar,
        NprogressContainer
    },
    // created() {
    //     this.$store.dispatch('REQUEST_AUTH');
    // }

}
</script>
